@import "../variables.scss";
@import "../typography.scss";

.switch {

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  width: 2rem;

  padding: 0.25rem;
  cursor: pointer;
  background-color: var(--control);
  border-radius: 9999px;

  transition: background-color 0.15s;
}

.knob {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  background: var(--white);
  border-radius: 9999px;
}

.checked {
  justify-content: flex-end;
  background-color: var(--azure);
}

.success {
  background-color: var(--green);
}

.danger {
  background-color: var(--red);
}

.warning {
  background-color: var(--yellow);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
}
