@import "../variables.scss";
@import "../typography.scss";

.checkbox {
  width: 1.25rem;
  height: 1.25rem;

  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background-color: var(--calcium-control);
  border-radius: 25%;
  stroke: white;

  transition: background-color 0.15s;
  // Disable nasty "blinking" in Webkit browser
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;

  // Disable text selection on double click
  -webkit-touch-callout: none; /* iOS Safari */
}

.checked {
  background: var(--calcium-azure);
}

.success {
  background-color: var(--calcium-green);
}

.danger {
  background-color: var(--calcium-red);
}

.warning {
  background-color: var(--calcium-yellow);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--calcium-disabled);
}
