@import "../variables.scss";
@import "../typography.scss";

.overlay {
  position: fixed;

  top: 0;
  left: 0;

  z-index: var(--calcium-zModal);

  display: flex;
  flex-shrink: 0;

  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  // Fix safari 100vh bug
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  max-width: 40rem;
  min-height: 4.5rem;
  max-height: 80vh;
  padding: 1rem;
  overflow-y: auto;
  background-color: var(--calcium-white);
  border-radius: 0.5rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  //Disable text selection on double click
  -webkit-touch-callout: none; /* iOS Safari */
}
