@import "../../variables";


.switch{
  background: $secondary;
  border-radius: 9999px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0.25rem;
  width: 2rem;
  transition: 0.2s;

  cursor: pointer;
}

.switch[data-enabled="true"]{
  justify-content: flex-end;
  background: $azure;
}

.knob{
  display: flex;
  width: 1rem;
  background: white;
  height: 1rem;
  border-radius: 9999px;
  flex-grow: 0;
  flex-shrink: 0;
}

.disabled{
  background: $disabled;

  .knob{
    background: white;
  }
}

