.wrapper{
  display: inline-block;
  position: relative;
}

.tooltip{
  color: var(--text);
  position: absolute;
  text-align: center;
  padding: 0.25rem 0.5rem;
  background: var(--background);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 8px 0;
}

.top {
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  right: 150%;
  transform: translateY(-50%);
}

.right {
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
}

.hide{
  display: none;
}
