.wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 0.25rem 0.5rem;
  color: var(--calcium-text);
  text-align: center;
  background: var(--calcium-foreground);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 8px 0;
}

.top {
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  right: calc(100% + 1rem);
  transform: translateY(-50%);
}

.right {
  top: 50%;
  left: calc(100% + 1rem);
  transform: translateY(-50%);
}

.hide {
  display: none;
}
