@import "../../variables";

.select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 16px;
  padding: 0.5em 1em;

  display: flex;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  position: relative;
  background: $control;
  background-position-y: 50%;
  background-position-x: calc(100% - 16px);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='4'%3E%3Cpath d='M 0.5 0.5 L 3 3.5 L 5.5 0.5 Z' stroke='hsl(0, 0%25, 0%25)' strokeLinecap='round' strokeLinejoin='round' /%3E%3C/svg%3E");
  color:$text;
  overflow: hidden;
  transition: 0.15s;
  border: none;
  border-radius: 8px;
  &:focus-within{
    box-shadow: inset 0 0 0 1px $azure !important;
  }

  &::placeholder{
    color:$placeholder;
  }

  &:focus{
    outline: none;
  }
}

.disabled{
  color: $text;
  background: $disabled;
}
