@import "../variables.scss";
@import "../typography.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  z-index: var(--zModal);

  display: flex;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;

  // Fix safari 100vh bug
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  position: relative;
  height: 100vh;
  // Fix safari 100vh bug
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available;

  background: var(--foreground);
}
