@import "../variables.scss";
@import "../typography.scss";

.calendar {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 0.75rem;
  overflow: hidden;
  font-family: sans-serif;
  background: var(--calcium-control);
  border-radius: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--calcium-text);
}

.month_button {
  width: 100%;
  color: var(--calcium-calendar-day);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  user-select: none;
}

.month_title {
  margin: 0 0.5rem;
}

.labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0.45rem;
  margin-top: 0.25rem;
}

.label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--calcium-text);
}

.label_weekend {
  font-weight: bold;
  color: var(--calcium-red);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 0.15rem;
  grid-column-gap: 0.15rem;
  margin-top: 0.25rem;
  color: var(--calcium-text);
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0;
  line-height: 1;

  color: var(--calcium-calendar-day);
  cursor: pointer;
  border-radius: 0.35rem;

  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 153, 255, 0.1);
  }
}

.current_day {
  overflow: hidden;
  font-weight: bold;
  color: var(--calcium-white);
  background: var(--calcium-azure);

  &:hover {
    background: var(--calcium-azure);
  }

  .active {
    opacity: 0;
  }
}

.active {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 4px;
  height: 4px;

  background-color: var(--calcium-red);
  border-radius: 9999px;
  transition: opacity 0.2s;
}
