@import "../variables.scss";
@import "../typography.scss";

.calendar {

  display: flex;
  flex-direction: column;
  float: left;
  padding: 0.75rem;
  overflow: hidden;
  font-family: sans-serif;
  background: var(--control);
  border-radius: 0.5rem;
}

.header {
  display: flex;
}

.month_select {
  padding: 0;
  margin: 0 0.5rem 0 0;

  font-size: 1rem;
  font-weight: bold;
  color: var(--gray);
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  @media (prefers-color-scheme: dark) {
    color: var(--secondary);
  }
}

.month_option {
  text-transform: capitalize;
}

.year_input {
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray);
  background: transparent;
  border: none;
  outline: none;

  @media (prefers-color-scheme: dark) {
    color: var(--secondary);
  }
}

.labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0.15rem;
  margin-top: 0.25rem;
}

.label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--text);
}

.label_weekend {
  font-weight: bold;
  color: var(--red);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 0.15rem;
  grid-column-gap: 0.15rem;
  margin-top: 0.25rem;
  color: var(--text);
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.day {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0;
  line-height: 1;
  cursor: pointer;
  border-radius: 0.35rem;

  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 153, 255, 0.1);
  }
}

.current_day {
  overflow: hidden;
  font-weight: bold;
  color: var(--white);
  background: var(--azure);

  &:hover {
    background: var(--azure);
  }

  .active {
    opacity: 0;
  }
}

.active {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 4px;
  height: 4px;

  background-color: var(--red);
  border-radius: 9999px;
  transition: opacity 0.2s;
}
