@import "../variables.scss";
@import "../typography.scss";

.radio{
  // Disable nasty "blinking" in Webkit browser
  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;

  // Disable text selection on double click
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  cursor: pointer;
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.15s;
}

.checked{
  background-color: var(--azure);
}

.knob{
  background: var(--white);
  width: 0.375rem;
  height: 0.375rem;

  border-radius: 9999px;
}

.success{
  background-color: var(--green);
}

.danger{
  background-color: var(--red);
}

.warning{
  background-color: var(--yellow);
}

.disabled{
  cursor: not-allowed;
  background-color: var(--gray);
}
