@import "../variables.scss";
@import "../typography.scss";

.button {

  padding: 0.35em 1.5em;
  // Remove all default styles
  margin: 0;
  font-family: $font-family;

  font-size: 1rem;
  color: var(--white);
  cursor: pointer;

  background-color: var(--azure);
  border: none;
  border-radius: 0.5rem;

  //Disable nasty "blinking" in safari browser
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

.rounded {
  border-radius: 9999px;
}

.success {
  background-color: var(--green);
}

.danger {
  background-color: var(--red);
}

.warning {
  color: var(--black);
  background-color: var(--yellow);
  stroke: var(--black);
}

.secondary {
  background-color: var(--secondary);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
}
