@import "../variables.scss";
@import "../typography.scss";

.button {
  padding: 0.35em 1.5em;
  // Remove all default styles
  margin: 0;
  font-family: $font-family;

  font-size: 1rem;
  color: var(--calcium-white);
  cursor: pointer;

  background-color: var(--calcium-azure);
  border: 0 transparent;
  border-radius: 0.5rem;

  //Disable nasty "blinking" in safari browser
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

.rounded {
  border-radius: 9999px;
}

.success {
  background-color: var(--calcium-green);
}

.danger {
  background-color: var(--calcium-red);
}

.warning {
  color: var(--calcium-black);
  background-color: var(--calcium-yellow);
  stroke: var(--calcium-black);
}

.secondary {
  background-color: var(--calcium-secondary);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--calcium-disabled);
}
