:root {
  --background: #fafafa;
  --foreground: #ffffff;
  --secondary: #aaaaaa;
  --text: #111111;
  --control: #f0f0f0;
  --disabled: #808080;
  --knob: #ffffff;
  --black: #000000;
  --gray: #808080;
  --white: #ffffff;
  --blue: #0055ff;
  --azure: #0099ff;
  --teal: #11dddd;
  --green: #66bb66;
  --yellow: #ffcc66;
  --orange: #ff9900;
  --red: #ee4444;
  --violet: #bb00ff;
  --purple: #6600ff;

  --zDrawer: 9997;
  --zModal: 9998;
  --zNotifications: 9999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #333333;
    --secondary: #aaaaaa;
    --text: #ffffff;
    --control: #4d4d4d;
    --disabled: #2b2b2b;
    --knob: #ffffff;
    --black: #000000;
    --gray: #555555;
    --white: #ffffff;
    --blue: #3377ff;
    //--azure: #44bbff;
    --azure: #0099ff;
    --teal: #66eeee;
    --green: #99cc66;
    --yellow: #ffcc66;
    --orange: #ffaa44;
    --red: #ee4444;
    --violet: #cc44ff;
    --purple: #8844ff;
  }
}
