@import "../variables.scss";
@import "../typography.scss";

.input {
  padding: 0.35rem 1rem;
  // Remove all default styles
  margin: 0;
  font-family: $font-family;

  font-size: 1rem;
  color: var(--calcium-text);
  background-color: var(--calcium-control);
  border: 0 transparent;
  border-radius: 0.5rem;

  transition: box-shadow 0.12s;

  &:focus {
    outline: none;
  }

  &:focus-within {
    box-shadow: inset 0 0 0 2px var(--calcium-azure);
  }
}

.rounded {
  border-radius: 9999px;
}

.disabled {
  color: var(--calcium-white);
  cursor: not-allowed;
  background-color: var(--calcium-disabled);

  &::placeholder {
    color: var(--calcium-white);
  }
}

.success {
  box-shadow: inset 0 0 0 2px var(--calcium-green);
}

.danger {
  box-shadow: inset 0 0 0 2px var(--calcium-red);
}

.warning {
  box-shadow: inset 0 0 0 2px var(--calcium-yellow);
}
